main {
    background-color: #F8F8F8;
    padding-bottom: 10px;
    padding: 30px 0;

    .forget-password {
        padding-top: 50px;
        padding-bottom: 50px;

        #forgetemail {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        #forgetBtn {
            width: 100%;
        }

        .forget-header {
            font-size: 24px !important;
            text-align: center;
            margin-bottom: 40px !important;
        }
    }

    .container {
        width: 70%;
        background-color: white;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 5px 5px 8px 10px rgba(0, 0, 0, 0.05);

        .sign-up-main {
            width: 50%;
            padding: 60px 50px 60px 80px;

            h1 {
                margin-bottom: 33px;
                font-weight: 700;
                font-size: 36px;
            }

            .form-btn {
                padding: 15px 40px;
                border: none;
                background-color: map-get($colors, "btnColor");
                border-radius: 10px;
                cursor: pointer;
                color: white;
                transition: 0.3s all;

                &:hover {
                    background-color: map-get($colors, "hoverColor");
                }
            }

            .form-group {
                margin-bottom: 25px;
                position: relative;

                .inputIcon {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    font-size: 12px;
                    transform: translateY(-50%);
                }

                .visibility {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    font-size: 24px;
                    transform: translateY(-50%);
                    cursor: pointer;

                }

                input {
                    border: none;
                    border-bottom: 1px solid #999;
                    padding: 6px 30px;
                    outline: none;
                    width: 100%;

                    &:focus {
                        border-bottom: 1px solid black;
                    }
                }

                input[type="date"]::-webkit-calendar-picker-indicator {
                    display: none;
                }

            }

            .form-checkbox {
                margin-bottom: 25px;
            }

            .form-checkbox-left {
                @include flex(flex-start, center);

                input {
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                }
            }

            .form-checkbox-right {
                width: 80%;


                label {
                    font-size: 14px;
                }

                a {
                    text-decoration: underline;
                    color: map-get($colors, "btnColor");
                    cursor: pointer;
                }
            }
        }
    }

    .sign-up-img {
        width: 50%;
        padding: 20px;
        @include flex(center, center);

        img {
            width: 100%;
        }
    }
}

.chpass {
    height: 100vh;
    @include flex(center, center);

    .change-header {
        font-size: 30px !important;
    }

    #chPasswordBtn {
        width: 100%;
    }
}

#signupBtn {
    width: 100%;
}

.comment-body {
    background-color: #F8F8F8;
    height: 100vh;
    @include flex(center, center);

    .comment-section {
        background-color: white;
        width: 70%;
        // height: 70vh;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.05);

        .comment-image {
            width: 50%;
            position: relative;
            @include flex(flex-start, center);

            .arrow-icon{
                position: absolute;
                left: 10px;
                top: 10px;
                color: black;
                font-size: 20px;
                padding: 6px;
                cursor: pointer;
            }
        }

        .comment-main {
            width: 50%;
            overflow-y: auto;
            position: relative;
*
            &::-webkit-scrollbar {
                display: none;
            }

            .comments{
                display: flex;
                flex-direction: column;
            }
            
            .comments-top{
                flex-grow: 9;
                .all-comments {
                    border-bottom: 1px solid #ccc;
                    padding: 10px 20px;
                    @include flex(flex-start, center);
                    width: 100%;

                    &:first-child{
                        padding-top: 5px;
                    }

                    &:last-child{
                        border-bottom: 0;
                        padding-bottom: 5px;
                    }
    
                    .comment-top-photo {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-image: url(../../img/avatar.jpg);
                        background-position: center;
                        background-size: cover;
                        margin-right: 10px;
                    }
    
                    p {
                        font-weight: 600;
                        font-size: 12px;
                    }
    
                    .comment-content {
                        font-weight: 400;
                        font-size: 13px;
                    }

                    &:first-child {
                        margin-top: 10px;
                    }

                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }

            .comment-input {
                position: sticky;
                bottom: 0;
                width: 100%;

                input {
                    width: 100%;
                    height: 45px;
                    outline: 0;
                    padding-left: 20px;
                    border: none;
                    border-top: 1px solid #EEEEEE;
                }

                button {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    border: none;
                    background: none;
                    color: map-get($colors, "mainColor");
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
    }
}

// .hr-comment {
//     margin: 8px;
// }