* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hr {
  height: 1px;
  background-color: #EEEEEE;
  margin: 15px 0;
}

.hr-middle {
  height: 1px;
  background-color: #EEEEEE;
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}

nav {
  background-color: rgb(86, 97, 198);
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
nav .burgerList span {
  margin-left: 10px;
  display: none;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  cursor: pointer;
}
nav ul li a {
  padding: 15px 30px;
  display: inline-block;
  color: white;
}
nav ul li:hover {
  background-color: rgb(18, 33, 171);
}
nav .nav-search-main {
  position: relative;
}
nav .nav-search-main input {
  height: 30px;
  width: 240px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: white;
  padding-left: 40px;
  margin-top: 10px;
  transition: 0.3s all;
}
nav .nav-search-main input::-moz-placeholder {
  font-size: 14px;
}
nav .nav-search-main input:-ms-input-placeholder {
  font-size: 14px;
}
nav .nav-search-main input::placeholder {
  font-size: 14px;
}
nav .nav-search-main .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  font-size: 14px;
  transform: translateY(-10%);
  color: #828282;
  cursor: pointer;
}
nav .navbar-right {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  position: relative;
  width: 20%;
}
nav .navbar-right .profileDropdown {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navbar-right .dropdown {
  position: absolute;
  right: 0px;
  top: 51px;
  display: none;
}
nav .navbar-right .dropdown .dropdown-list {
  list-style-type: none;
  font-size: 16px;
}
nav .navbar-right .dropdown .dropdown-list li {
  background-color: rgb(86, 97, 198);
  padding: 15px 30px;
  color: white;
}
nav .navbar-right .dropdown .dropdown-list li a {
  padding: 0;
}
nav .navbar-right .dropdown .dropdown-list li:hover {
  background-color: white;
}
nav .navbar-right .dropdown .dropdown-list li:hover a {
  color: rgb(86, 97, 198);
}
nav .navbar-right .profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../img/avatar.jpg);
  background-position: center;
  background-size: cover;
}

.active {
  display: block !important;
}

i.icon-white {
  color: white;
}

main {
  background-color: #F5F7F8;
  display: flex;
  padding-top: 20px;
  margin-top: 50px;
}
main .main-left {
  width: 30%;
  padding-left: 40px;
  position: fixed;
}
main .main-left .profile {
  padding: 0 16px;
  background-color: white;
  text-align: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}
main .main-left .profile h4 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
main .main-left .profile p {
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 400;
}
main .main-left .profile .birthdate {
  text-align: left;
  font-size: 16px;
  margin: 10px;
}
main .main-left .profile .birthdate i {
  color: rgb(82, 82, 82);
  margin-right: 15px;
}
main .main-left .profile .birthdate .cake {
  margin-right: 11px;
}
main .main-left .profile .profile-img {
  width: 100px;
  height: 100px;
  background-image: url(../../img/avatar.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 15px auto;
}
main .main-left .profile .viewProfile {
  color: rgb(86, 97, 198);
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 600;
}
main .main-left .interests {
  border: 1px solid rgb(219, 219, 219);
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
}
main .main-left .interests p {
  margin-bottom: 5px;
}
main .main-left .interests span {
  font-size: 12px;
  padding: 0 8px;
  color: white;
}
main .main-left .interests .interest1 {
  background-color: #303e45;
}
main .main-left .interests .interest2 {
  background-color: #3a4b53;
}
main .main-left .interests .interest3 {
  background-color: #435761;
}
main .main-left .interests .interest4 {
  background-color: #607d8b;
}
main .main-left .interests .interest5 {
  background-color: #7d97a5;
}
main .main-left .interests .interest6 {
  background-color: #9eb1bb;
}
main .main-left .interests .interest7 {
  background-color: #dfe5e8;
}
main .main-middle {
  width: 45%;
  padding: 0 20px;
  margin-left: 30%;
}
main .main-middle .posts .post {
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
  margin-bottom: 20px;
}
main .main-middle .posts .post .post-top {
  padding: 0 20px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .main-middle .posts .post .post-top .post-top-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../img/avatar.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
main .main-middle .posts .post .post-top p {
  font-weight: 600;
  font-size: 15px;
}
main .main-middle .posts .post .post-icons {
  padding: 0 15px;
  padding-right: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-middle .posts .post .post-icons i {
  font-size: 24px;
  padding-top: 10px;
}
main .main-middle .posts .post .post-icons .like-icon {
  margin-right: 8px;
}
main .main-middle .posts .post .post-icons .bookmark-icon {
  padding-top: 8px;
}
main .main-middle .posts .post .post-likes {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 7px;
}
main .main-middle .posts .post .post-likes span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
main .main-middle .posts .post .post-caption {
  padding: 8px 15px;
}
main .main-middle .posts .post .post-caption p {
  font-size: 15px;
}
main .main-middle .posts .post .post-caption span {
  margin-right: 6px;
  font-size: 16px;
  font-weight: 600;
}
main .main-middle .posts .post .post-time {
  padding: 0 15px;
  padding-bottom: 10px;
}
main .main-middle .posts .post .post-time p {
  color: grey;
  font-size: 14px;
}
main .main-middle .posts .post .likeColor:before {
  color: rgb(219, 0, 0);
}
main .main-middle .posts .post .bookmarkColor:before {
  color: rgb(34, 48, 174);
}
main .main-right {
  width: 25%;
  padding-right: 40px;
}
main .main-right .add-image {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
main .main-right .add-image button {
  color: rgb(86, 97, 198);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
main .main-right .add-image button i {
  margin-right: 10px;
  font-size: 18px;
}
main .main-right .advertisements {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
}
main .main-right .advertisements .advertisement {
  margin-bottom: 10px;
}
main .main-right .advertisements img {
  border-radius: 2px;
  cursor: pointer;
}

.active {
  left: 0 !important;
}

@media (max-width: 576px) {
  nav ul li {
    font-size: 14px;
  }
  nav ul li:hover {
    background-color: white;
  }
  nav ul li:hover i {
    color: rgb(86, 97, 198) !important;
  }
  nav ul li:hover span {
    color: rgb(86, 97, 198) !important;
  }
  nav ul .logo {
    display: none;
  }
  nav .navbar-right {
    width: 30%;
  }
  nav .dropdown {
    top: 50px !important;
  }
  nav .nav-search-main {
    position: relative;
  }
  nav .nav-search-main input {
    width: 200px;
  }
  nav .burgerList {
    position: absolute;
    flex-direction: column;
    width: 35%;
    background: rgb(86, 97, 198);
    position: absolute;
    left: -200px;
    top: 50px;
  }
  nav .burgerList span {
    display: inline-block !important;
    margin-left: 10px;
    font-weight: 500;
  }
  nav .hamburger-lines {
    cursor: pointer;
    display: block;
    height: 18px;
    width: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  nav .linecross1 {
    transform: translateY(7px) rotate(-45deg);
  }
  nav .linecross2 {
    opacity: 0;
  }
  nav .linecross3 {
    transform: translateY(-7px) rotate(45deg);
  }
  nav .hamburger-lines .line1 {
    transition: transform 0.4s ease-in-out;
  }
  nav .hamburger-lines .line2 {
    transition: opacity 0.6s;
  }
  nav .hamburger-lines .line3 {
    transition: transform 0.4s ease-in-out;
  }
}
@media (max-width: 992px) {
  main {
    flex-direction: column;
  }
  main .main-left {
    width: 90%;
    position: static;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  main .main-middle {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  main .main-right {
    display: none;
  }
}/*# sourceMappingURL=home.css.map */