* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hr {
  height: 1px;
  background-color: #EEEEEE;
  margin: 15px 0;
}

.hr-middle {
  height: 1px;
  background-color: #EEEEEE;
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}

nav {
  padding: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: #F8F8F8;
}
nav .nav-right {
  justify-content: space-between;
}
nav .nav-right p {
  margin-right: 10px;
}
nav .nav-right a {
  text-decoration: none;
  color: rgb(56, 56, 231);
  transition: 0.3s all;
}
nav .nav-right a:visited {
  color: rgb(56, 56, 231);
}
nav .nav-right a:hover {
  color: rgb(0, 0, 2);
}

main {
  background-color: #F8F8F8;
  padding-bottom: 10px;
  padding: 30px 0;
}
main .forget-password {
  padding-top: 50px;
  padding-bottom: 50px;
}
main .forget-password #forgetemail {
  margin-bottom: 20px;
  margin-top: 20px;
}
main .forget-password #forgetBtn {
  width: 100%;
}
main .forget-password .forget-header {
  font-size: 24px !important;
  text-align: center;
  margin-bottom: 40px !important;
}
main .container {
  width: 70%;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 5px 8px 10px rgba(0, 0, 0, 0.05);
}
main .container .sign-up-main {
  width: 50%;
  padding: 60px 50px 60px 80px;
}
main .container .sign-up-main h1 {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 36px;
}
main .container .sign-up-main .form-btn {
  padding: 15px 40px;
  border: none;
  background-color: rgb(74, 91, 243);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.3s all;
}
main .container .sign-up-main .form-btn:hover {
  background-color: rgb(42, 60, 221);
}
main .container .sign-up-main .form-group {
  margin-bottom: 25px;
  position: relative;
}
main .container .sign-up-main .form-group .inputIcon {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 12px;
  transform: translateY(-50%);
}
main .container .sign-up-main .form-group .visibility {
  position: absolute;
  right: 5px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}
main .container .sign-up-main .form-group input {
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  outline: none;
  width: 100%;
}
main .container .sign-up-main .form-group input:focus {
  border-bottom: 1px solid black;
}
main .container .sign-up-main .form-group input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
main .container .sign-up-main .form-checkbox {
  margin-bottom: 25px;
}
main .container .sign-up-main .form-checkbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .container .sign-up-main .form-checkbox-left input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
main .container .sign-up-main .form-checkbox-right {
  width: 80%;
}
main .container .sign-up-main .form-checkbox-right label {
  font-size: 14px;
}
main .container .sign-up-main .form-checkbox-right a {
  text-decoration: underline;
  color: rgb(74, 91, 243);
  cursor: pointer;
}
main .sign-up-img {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sign-up-img img {
  width: 100%;
}

.chpass {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chpass .change-header {
  font-size: 30px !important;
}
.chpass #chPasswordBtn {
  width: 100%;
}

#signupBtn {
  width: 100%;
}

.error-message{
    width: 100%;
    height: 25px;
    color: red;
    text-align: center;
    margin-top: 15px;
}

.info-message{
    width: 100%;
    height: 25px;
    color: #55BB37;
    text-align: center;
    margin-top: 15px;
}

.body{
  width: 100vw;
  background-color: #F8F8F8;
  height: 100vh;
  
}

.comment-body {
  background-color: #F8F8F8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-body .comment-section {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.05);
}
.comment-body .comment-section .comment-image {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10% 0;
}
.comment-body .comment-section .comment-image .arrow-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  color: black;
  font-size: 20px;
  padding: 6px;
  cursor: pointer;
}
.comment-body .comment-section .comment-main {
  width: 50%;
  overflow-y: auto;
  position: relative;
}
* .comment-body .comment-section .comment-main::-webkit-scrollbar {
  display: none;
}
.comment-body .comment-section .comment-main .comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid black;
}
.comment-body .comment-section .comment-main .comments-top {
  flex-grow: 9;
}
.comment-body .comment-section .comment-main .comments-top .all-comments {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.comment-body .comment-section .comment-main .comments-top .all-comments:first-child {
  padding-top: 5px;
}
.comment-body .comment-section .comment-main .comments-top .all-comments:last-child {
  border-bottom: 0;
  padding-bottom: 5px;
}
.comment-body .comment-section .comment-main .comments-top .all-comments .comment-top-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/avatar.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.comment-body .comment-section .comment-main .comments-top .all-comments .comment-top-photo img{
  border-radius: 50%;
}
.comment-body .comment-section .comment-main .comments-top .all-comments p {
  font-weight: 600;
  font-size: 12px;
}
.comment-body .comment-section .comment-main .comments-top .all-comments .comment-content {
  font-weight: 400;
  font-size: 13px;
}
.comment-body .comment-section .comment-main .comments-top .all-comments:first-child {
  margin-top: 10px;
}
.comment-body .comment-section .comment-main .comments-top .all-comments:last-child {
  margin-bottom: 10px;
}
.comment-body .comment-section .comment-main .comment-input {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.comment-body .comment-section .comment-main .comment-input input {
  width: 100%;
  height: 45px;
  outline: 0;
  padding-left: 20px;
  border: none;
  border-top: 1px solid #EEEEEE;
}
.comment-body .comment-section .comment-main .comment-input button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  background: none;
  color: rgb(86, 97, 198);
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

#comment{
  border-radius: 0 0 10px 0;
}

@media (max-width: 992px) {
  .sign-up-img {
    display: none !important;
  }
  .sign-up-main {
    width: 90% !important;
  }
  .form-group input {
    width: 100%;
  }
  .form-checkbox-right {
    width: 100% !important;
  }
  .comment-section {
    flex-direction: column;
    width: 90%;
  }
  .comment-image {
    width: 100% !important;
  }
  .comment-image img {
    display: none;
  }
  .comment-main {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  nav h1 {
    font-size: 20px;
  }
  nav p, nav a {
    font-size: 14px;
  }
  .chpass .container {
    padding: 50px 0;
  }
  .sign-up-main {
    padding: 20px !important;
  }
  h1 {
    text-align: center;
  }
  .sign-up-main {
    width: 100% !important;
  }
  .logContainer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=sign-up.css.map */
