main {
    background-color: #F5F7F8;
    display: flex;
    padding-top: 20px;
    margin-top: 50px;

    .main-left {
        width: 30%;
        padding-left: 40px;
        position: fixed;

        .profile {
            padding: 0 16px;
            background-color: white;
            text-align: center;
            border: 1px solid rgb(219, 219, 219);
            border-radius: 5px;

            h4 {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 600;

            }

            p {
                font-size: 12px;
                margin-bottom: 20px;
                font-weight: 400;
            }

            .birthdate {
                text-align: left;
                font-size: 16px;
                margin: 10px;

                i {
                    color: rgb(82, 82, 82);
                    margin-right: 15px;
                }

                .cake {
                    margin-right: 11px;
                }
            }

            .profile-img {
                width: 100px;
                height: 100px;
                background-image: url(../../img/avatar.jpg);
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                margin: 15px auto;
            }

            .viewProfile {
                color: map-get($colors, "mainColor");
                margin-bottom: 15px;
                display: inline-block;
                font-weight: 600;
            }
        }

        .interests {
            border: 1px solid rgb(219, 219, 219);
            width: 100%;
            background-color: white;
            margin-top: 20px;
            padding: 15px;
            border-radius: 5px;

            p {
                margin-bottom: 5px;
            }

            span {
                font-size: 12px;
                padding: 0 8px;
                color: white;
            }

            .interest1 {
                background-color: map-get($colors, "interest1")
            }

            .interest2 {
                background-color: map-get($colors, "interest2")
            }

            .interest3 {
                background-color: map-get($colors, "interest3")
            }

            .interest4 {
                background-color: map-get($colors, "interest4")
            }

            .interest5 {
                background-color: map-get($colors, "interest5")
            }

            .interest6 {
                background-color: map-get($colors, "interest6")
            }

            .interest7 {
                background-color: map-get($colors, "interest7")
            }
        }
    }

    .main-middle {
        width: 45%;
        padding: 0 20px;
        margin-left: 30%;

        .posts {
            .post {
                border-radius: 5px;
                border: 1px solid rgb(219, 219, 219);
                background-color: white;
                margin-bottom: 20px;

                .post-top {
                    padding: 0 20px;
                    padding-top: 10px;
                    @include flex(flex-start, center);

                    .post-top-photo {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-image: url(../../img/avatar.jpg);
                        background-position: center;
                        background-size: cover;
                        margin-right: 10px;
                    }

                    p {
                        font-weight: 600;
                        font-size: 15px;
                    }
                }

                .post-icons {
                    padding: 0 15px;
                    padding-right: 4px;

                    @include flex(space-between, center);

                    i {
                        font-size: 24px;
                        padding-top: 10px;
                        cursor: pointer;
                    }

                    .like-icon {
                        margin-right: 8px;
                    }
                }

                .post-likes {
                    padding: 0 15px;
                    font-size: 14px;
                    font-weight: 500;
                    padding-top: 7px;

                    span {
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                    }
                }

                .post-caption {
                    padding: 8px 15px;

                    p {
                        font-size: 15px;
                    }

                    span {
                        margin-right: 6px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                .post-time {
                    padding: 0 15px;
                    padding-bottom: 10px;

                    p {
                        color: grey;
                        font-size: 14px;
                    }
                }

                .likeColor:before {
                    color: rgb(219, 0, 0);
                }

                .bookmarkColor:before {
                    color: rgb(34, 48, 174);
                }
            }
        }
    }

    .main-right {
        width: 25%;
        padding-right: 40px;

        .add-image {
            padding: 10px 10px;
            border-radius: 5px;
            background-color: white;
            margin-bottom: 20px;

            button {
                color: map-get($colors, "mainColor");
                background: none;
                border: none;
                cursor: pointer;
                font-weight: 700;

                i {
                    margin-right: 10px;
                    font-size: 18px;
                }
            }
        }

        .advertisements {
            position: sticky;
            top: 55px;

            .advertisement {
                margin-bottom: 10px;
            }

            img {
                border-radius: 2px;
                cursor: pointer;
            }
        }

    }

}