<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In | My Gallery</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/sign-up.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="body">
    <header>
      <nav class="d-flex">
        <div class="nav-left">
          <h1>Logo</h1>
        </div>
        <!-- <img> -->
        <div class="nav-right d-flex">
          <p>Already Not Member?</p>
          <a href="{{url_for('signUp')}}">Sign Up</a>
        </div>
      </nav>
    </header> 
    <main class="login-main">
        <div class="container logContainer d-flex">
            <div class="sign-up-img">
                <img src="{{url_for('static',filename='img/camera.png')}}" alt="signup">
            </div>
            <div class="sign-up-main">
                <h1>Log In</h1>
                <form method="post" enctype="multipart/form-data">
                    {{form.csrf_token}}
                    <div class="form-group">
                        <!-- <label for="emailLog"><i class="fa-regular inputIcon fa-at"></i></label>
                        <input type="text" id="emailLog" placeholder="Username" required /> -->
                        {{form.email.label}}
                        {{form.email(placeholder="Enter your Email:")}}
                    </div>
                   
                    <div class="form-group">
                        <!-- <label for="passwordLog"><i class="fa-solid inputIcon fa-lock"></i></label>
                        <input type="password" required id="passwordLog" placeholder="Password" /> -->
                        {{form.passwordLog.label}}
                        {{form.passwordLog(placeholder="Enter your Password:")}}
                        <i class="visibility" onclick="toggleVisibilityLog()"><span class="material-icons"
                                id="iconLog">visibility</span></i>
                    </div>
                   
                    <div class="form-checkbox d-flex">
                        <div class="form-checkbox-left">
                            <!-- <input type="checkbox" id="remember" /> -->
                            {{form.remember}}
                        </div>
                        <div class="form-checkbox-right">
                            <!-- <label for="remember">Remember Me</a> </label> -->
                            {{form.remember.label}}
                        </div>
                    </div>
                    <input type="submit" value="Log In" class="form-btn" id="loginBtn"/>
                    <p><a href="{{url_for('recover')}}">Forgot password?</a></p>
                    {%for msg in get_flashed_messages()%}
                        <div class="error-message">
                            <span>{{msg}}</span>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </main>

    <script src="{{url_for('static',filename='./js/signValidation.js')}}"></script>
</body>

</html>